header {
	background: #222;
	color: #fff;
	padding: 16px 0 0;
	text-align: center;
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
}

header p {
	font-size: max(1rem, 1.5vw);
	text-wrap: balance;
	display: inline;
	padding: 10px;
}

header h1 {
	font-size: 2.5rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial;
}

body {
	background: #f9f9f9;
	color: #333;
	line-height: 1.4;
}

iframe {
	width: 100%;
	margin: 0;
	padding: 0;
}

.name {
	margin: 0 auto;
	padding: 0.5rem;
	text-align: center;
	border-radius: 10px;
	position: relative;
	width: fit-content;
}

@property --angle{
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

.name::after, .name::before{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	border-radius: 10px;
	animation: 10s spin linear infinite;
}

.name::before{
	filter: blur(0.5rem);
	opacity: 0.5;
}

@keyframes spin{
	from{
		--angle: 0deg;
	}
	to{
		--angle: 360deg;
	}
}

.name h1 {
	font-size: max(2rem, 2.5vw);
	position: relative;
	z-index: 1;
	padding: 10px;
	background: black;
}

nav {
	background: #444;
	display: flex;
	justify-content: center;
	padding: 0 32px;
	flex-wrap: wrap;

}

nav a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: max(1rem, 1.5vw);
	padding: 16px;
	text-align: center;
	width: max(10%, 100px);
}

nav a:hover {
	text-decoration: underline;
}

.container {
	padding: max(16px, 2vw) max(32px, 4vw);
}

.container p {
	font-size: max(1.4rem, 2.2vw);
  line-height: 1.4;
}

.section-title, .container h1 {
	font-size: clamp(2rem, 3.5vw, 3rem);
	margin-bottom: 16px;
	color: #333;
	border-bottom: 2px solid #00d1b2;
	display: inline-block;
	align-self: flex-start;
}

.contact {
	margin-bottom: 3rem;
}

.project {
	background: #fff;
	padding: 24px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	display: grid;
	grid-template-columns: subgrid;
	gap: 16px;
}

.projects a {
	color: black;
	transition: transform 0.3s ease;
	text-decoration: none;
}

.project h3 {
	text-decoration: none;
	color: #0077cc;
	font-size: clamp(2rem, 2.5vw, 3rem);
}

.project p {
	font-size: max(1.4rem, 1.8vw);
}

.projects a:hover {
	transform: translateY(-5px);
}

footer {
	background: #222;
	color: #aaa;
	text-align: center;
	padding: 1rem;
	font-size: 0.9rem;
}
   
.about {
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
}

.projects {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
}

.hero-section {
	display: grid; 
	grid-template-columns: 1fr 3.5fr; 
	column-gap: max(16px, 2vw); 
	row-gap: 0;
}

.hero-section p {
	font-size: max(1rem, 2.2vw);
	line-height: 1.4;
}

.hero-section a {
	font-size: max(1rem, 2.2vw);
	border-radius: 10px; 
	background-color: red; 
	color: black;
	padding: 8px 16px; 
	border: none; 
	text-decoration: none;
	width: fit-content;
	display: flex;
	align-items: center;
}

.hero-section a:hover {
	text-decoration: underline;
}

.hero-section h1 {
	font-size: clamp(2.4rem, 3.5vw, 3rem);
	align-self: center;
	border: none;
}

.hero-section img {
	width: 100%;
	border-radius: 10px;
	grid-row: span 3;
}

@media (max-width: 768px) {
	.hero-section {
		gap: max(16px, 2vw);
		grid-template-columns: repeat(2, 1fr);
	}

	.hero-section h1 {
		text-align: center;
		text-wrap: balance;
	}

	.hero-section img {
		grid-row: auto;
	}

	.hero-section p, .hero-section a {
		grid-column: span 2;
	}
}

.profile-pic {
	width: 200px;
	height: auto;
	border-radius: 10px;
}

.other-pics {
	width: 100%;
	height: auto;
	max-width: 1000px;
}